In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/iris.csv')
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [6]:
print(df.head())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [7]:
print(df.columns)

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [8]:
print(df.shape)

(150, 5)

In [9]:
print(df.index)

RangeIndex(start=0, stop=150, step=1)

In [11]:
print(df.iloc[1])

sepal_length       4.9
sepal_width        3.0
petal_length       1.4
petal_width        0.2
species         setosa
Name: 1, dtype: object

In [12]:
print(df.iloc[1,1])

3.0

In [13]:
print(df.dtypes)

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [14]:
X=df[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]
y = df['species']

In [15]:
print(type(X))
print(type(y))
print(X.shape)
print(y.shape)

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
(150, 4)
(150,)

In [36]:
df2 = df.copy()
#df2.at[1, 'sepal_width'] = 4.8
df2.iloc[1,1] = 4.0
print(df.iloc[1,1])
print(df2.iloc[1,1])

3.0
4.0

In [40]:
#x_array= np.array(X)
#y_array= np.array(y)
# model building (fit()) works with any array-like object
X=df[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']].to_numpy()
y = df['species'].to_numpy
print(type(X))
print(type(y))

<class 'numpy.ndarray'>
<class 'method'>

In [39]:
X = df.drop('species', axis='columns')
y= df.species
print(X)
print(y)

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]
0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object